@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,700;0,800;0,900;1,700;1,800&display=swap');


body{
    font-family: 'open sans';
    max-width: 100%;
}
*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}
header{
    background-color: white;
    width: 100%;
    padding: 2rem 4rem 1rem;
    color: #0A2640;  
}
.logonav{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin: 1rem 2rem;
}
.logonav img{
    width: 433px;
    height: 51px;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav ul li{
    list-style-type: none;
    margin: 1rem;
    font-weight: bolder;
}
nav ul li a{
    font-size: 1rem;
}
.menu{
    color: #0A2640;
    text-decoration: none;
}
.login{
    background-color: white;
    color: #0A2640;
    border: 0.2rem solid #0A2640 ;
    border-radius: 1.5rem;
    margin-top: 0rem;
    padding: 0.5rem 1.5rem ;
    font-weight: bolder;
}
a{
    text-decoration: none;
}


/* HEADER */

.header{
    text-align: center;
}
h4{
    font-size: 2rem;
    color: grey;
}
.lead{
    font-size: 4rem;
}


/* MAIN */

.maino{
    display: flex;
    margin: 3rem;
    justify-content: space-evenly;
}
.img-1-side{
    margin-top: 90px;
    padding: 1rem;
}
.txt-1{
    font-size: 40;
    padding-left: 12rem; 
}
.txt p{
    padding-left: 12rem; 
    color: #0A2640;
    font-weight: bolder;
}
.txt p span{
    color: grey;
    font-weight: bold;
}
.read-now{
    margin: 0rem 12rem ;
    padding: 1rem 3.5rem 1rem;
    border-radius: 30px;
    border: 0.2rem solid #0A2640;
    color: #0A2640;
    background-color: white;
    font-weight: bold;
}
.read-now:hover{
    background-color: #0A2640;
    color:white;
}

/* ARTICLE */
/* layer 1 */

.latest{
    font-size: 50;
    margin-left: 12rem;
}
.layers{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.small-img-1{
    display: flex;
    margin-top: 5px;
}
.small-img-1 div p{
    margin-top: 5px;
    text-align: center;
}

/* layer 2 */

.layers-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.small-img-2{
    display: flex;
    margin-top: 5px;   
}

/* BUTTON */

.sect-btn{
    text-align: center;
}

.btn-1{
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 10px 60px 10px 60px;
    border-radius: 30px;
    cursor: pointer;
    background-color: white;
    border: 0.2rem solid #0A2640;
    color: #0A2640;
    font-weight: bold;
}

.btn-1:hover{
    background-color: #0A2640;
    color:white;
}


.get-in-touch{
    background-color: #0A2640;
    padding: 2rem;
    margin: 1rem 1rem 3rem;
    border-radius: 0.5rem;
}

.get-in-touch p{
    font-size: 3rem;
    color: white;
    text-align: center;
    margin: 3rem 2rem 4rem;
}
.get-in-touch div{
    /* margin: 3rem 2rem 4rem; */
    text-align: center;   
}
.get-in-touch span input{
    text-align: left;
    padding: 1rem 6rem;
    background-color: white;
    border: none;
    border-radius: 2rem;
    font-weight: bolder;
    /* margin: 0rem auto; */
}
.get-in-touch span a{
    text-align: center;
    background-color: #69E6A6;
    color: #0A2640;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    font-weight: bolder;
    text-decoration: none;
}
.get-in-touch span a:hover{
    background-color: #0A2640;
    color: white;
    border: 1px solid white;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 130px;
    text-align: left;
    /* margin: 0 120px; */
}

.footertext{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 58px;
    color: #777777;
    padding-top: 11.79px;
}
.maintext{
    font-family: 'Open Sans';
    font-size: 19px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    width: 353.8px;
}
.subtext{
    font-family: 'Open Sans';
    font-size: 19px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
}
.fr_maintxt,.re_maintxt{
    font-family: 'Open Sans';
    font-size: 31px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    padding-bottom: 40px;
}
.fr_subtxt,.re_subtxt{
    list-style-type: none;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    color: #777777;

}

/* For phone screen, didn't get this */

@media screen and (max-width: 1075px){
    *{
        box-sizing: border-box;
    }
    .maino{
        display: flex;
        flex-direction: column;
    }
    
    .txt-1{   
        font-size: 20px;
    }

    .layers{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        margin-top: 20px;
    }
    .layers-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
    }

    .smal-img-1{
        margin-top: 20px;
    }
    .smal-img-2{
        margin-top: 20px;
    }

    .sect-btn{
        text-align: center;
    }   
}


@media screen and (max-width: 700px){
    *{
        box-sizing: border-box;
    }
    .logonav{
        flex-direction: column;
    }
    .logonav img{
        width: 400px;
        height: 51px;
    }
    .maino{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .txt-1{   
        font-size: 20px;
    }
    
    .layers{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .layers-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .smal-img-1{
        margin-top: 20px;
    }
    .smal-img-2{
        margin-top: 20px;
    }

    .sect-btn{
        text-align: center;
    }
}

@media screen and (max-width: 400px){

    *{
        box-sizing: border-box;
    }
    .logonav{
        flex-direction: column;
    }
    .logonav img{
        width: 300px;
        height: 41px;
    }
    nav ul{
        flex-direction: column;
    }

    .header{
        text-align: center;
        padding: 1rem;
    }
    h4{
        font-size: 2rem;
        color: grey;
    }
    .lead{
        font-size: 3rem;
        display: flex;
        width: 90%;
        margin: 0rem;
        text-align: center;
    }
    .maino{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-1 img{
        width: 100%;
    }
    
    .txt-1{   
        font-size: 2rem;
        padding: 1rem;
    }
    .txt{   
        padding: 1rem;
    }
    .read-now{
        margin:2rem 1rem 1rem;
    }

    .latest{
        font-size: 2rem;
    }
    .layers{
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: 0rem;
        padding: 0rem;
    }
    .layers-2{
        text-align: center;    
        flex-direction: column;
        width: 100%;
        margin: 0rem;
        padding: 0rem;
    }

    .smal-img-1{
        margin-top: 20px;
        margin: 4rem auto;
    }
    .smal-img-2{
        margin-top: 20px;
        margin: 4rem auto;
    }

    .sect-btn{
        text-align: center;
    }
    .get-in-touch{
        width: 100%;
        margin: 0rem;
        padding:2rem;
        
    }

    .get-in-touch p{
        width: 100%;
        font-size: 2rem;
    }
    .get-in-touch div span input{
        width: 100%;
        padding:1rem 2rem;
        margin-bottom: 2rem;
    }
    .footer{
        max-width: 90%;
        text-align: center;
    }
}