@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,700;0,800;0,900;1,700;1,800&display=swap');

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
body{
    font-family: 'open sans';
    max-width: 100%;
}
header{
    background-color: white;
    width: 100%;
    padding: 2rem 4rem 1rem;
    color: #0A2640;  
}
.logonav{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin: 1rem 2rem;
}
.logonav img{
        width: 433px;
        height: 51px;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav ul li{
    list-style-type: none;
    margin: 1rem;
    font-weight: bolder;
}
nav ul li a{
    font-size: 1rem;
}
.menu{
    color: #0A2640;
    text-decoration: none;
}
.login{
    background-color: white;
    color: #0A2640;
    border: 0.2rem solid #0A2640 ;
    border-radius: 1.5rem;
    margin-top: 0rem;
    padding: 0.5rem 1.5rem ;
    font-weight: bolder;
}
a{
    text-decoration: none;
}
@keyframes animatetop{
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top: 40px;
        opacity: 1;
    }
}

.main-container{
background-color: white; 
display: none;
position: fixed;
animation-name: animatetop;
animation-duration: 0.5s;
left: 120px;
top: 30px;
padding: 0rem;
margin: 0rem;
width: 80%;
height: 600px;
overflow: hidden;
z-index: 1;
}
.close-modal{
    background-color: red;
    width: 50px;
    padding: 1rem;
    float: right;
    cursor: pointer;
    font-weight: bolder;
}
.p-one{
    color: gray;
    text-align: center;
}
.p-two{
    text-align: center;
    font-size: larger;
    line-height: 18px;
}
.box-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
}
.box{
    margin: 0px 2px 0px 2px;
    padding: 0px 5px;
}
.box-one img{
    margin: 1rem;
}
.box-two img{
    margin: 1rem;
}
.box-three img{
    margin: 1rem;
}

.hero {
    padding: 1rem;
    display: flex;
    place-content: center;
    place-items: center;
}
.hero-image {
   margin: 1rem;
}

.hero-text{
    text-align: center;
    margin: 1rem;
    padding: 1rem;
} 
.hero-text h1 {
    padding: 1rem;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2em;
    font-weight: 400;
    text-align: left;
}
.hero-text h5 {
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    font-weight: 400;
    font-size: 1.5em;
    text-align: left;
    letter-spacing: 0.1rem;
}

.fund-button {
    border: none;
    margin: 1rem;

}
#fund {
    margin: 2rem 10rem 2rem 0rem;
    padding: 1rem 3rem;
    align-items: center;
    color: white;
    background-color: #0A2640;
    border-radius: 4em;
    font-weight: bolder;
}
.progress-with-text{
    margin: 1rem;
    padding:2rem;
}

.progress {
    display: flex;
    place-content: center;
}
.progress p {
    font-family: 'Open Sans', sans-serif;
}
.green-gray{
   display: flex;
   place-content: center;
   place-items: center;
   margin: 1rem;
   padding: 0rem 0rem 0rem 0rem;
   height: 1rem;
   width: 100%;
}
.green{
    background-color: green;
    margin: 0.2rem;
    height: 100%;
    width: 2rem;
}
.gray{
    background-color: grey;
    margin: 0.2rem;
    height: 100%;
    width: 2rem;
}
.story {
    margin-top: 1rem;
    margin-right: 2em;
    justify-content: space-evenly;
    padding: 0em 5em;
    line-height: 1.5em;
}
.story p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-stretch: ultra-expanded;
    font-size: 1em;
}

.next {
    margin-left: 55em;
    padding: 5em 3em;
    display: block;
}
.next-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Manrope', sans-serif;
}
.next-two {
    margin-top: 3em;
    float: right;
}

#icon-one {
    color: #0A2640;
    font-size: 2em;
}

#icon-two {
    color: grey;
    font-size: 2.5em;
}

#icon-three {
    color: #0A2640;
    font-size: 2.5em;
}

h2 {
    font-size: 3em;
    color: #0A2640;
    text-decoration: none;
    font-weight: 400;
}

footer {
    display: flex;
    align-items: evenly;
    padding: 5em;
    margin-top: 10em;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.getfunds {
    /* display: grid; */
    width: 26em;
    /* margin-right: 10em; */
}

h4 {
    line-height: 1.5em;
    width: 19em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: gray;
    font-size: 1.2em;
}

h3 {
    height: 4em;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    color: #0A2640;
    font-weight: 800;
    width: 100%;
}

ul {
    list-style: none;
    line-height: 1.5em;
    color: gray;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
}

.fundraise-for {
    width: 15em;
    /* margin-right: 10em; */
    /* padding-left: 15em; */
}

.resources {
    width: 15em;
    /* margin-left: 15em; */
}

@media (min-width: 300px) and (max-width: 600px){

    body{
        max-width: 100%;
        overflow-x: hidden;
    }
    header{
        padding: 1rem;
    }
    .logonav{
        flex-direction: column;
        width: 100%;
    }
    .logonav img{
        width: 180px;
        height: 41px;
    }
    .logonav h1{
        width: 90%;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        margin: 1rem;
    }
    .login{
        width: 70%;
        border: 0.2rem solid #0A2640 ;
        border-radius: 1.5rem;
        margin: 0rem;
        padding: 0.5rem 1rem ;
        font-weight: bolder; 
    }
    .main-container{
        background-color: white; 
        display: none;
        position: fixed;
        left: 30px;
        top: 50px;
        padding: 0rem;
        margin: 0rem;
        width: 80%;
        height: 500px;
        overflow: auto;
        z-index: 1;
        }
        .close-modal{
            z-index: 3;
            margin-bottom: 4rem;
        }
        .box{
            margin: 0px;
            padding: 0px ;
        }
        .box-one{
            width: 100%;
            padding: 1rem;
        }
        .box-one img{
            width: 100%;
        }
        .box-two{
            width: 100%;
            padding: 1rem;
        }
        .box-two img{
            width: 100%;
        }
        .box-three{
            width: 100%;
            padding: 1rem;
        }
        .box-three img{
            width: 100%;
        }
        .hero {
           margin: 0rem;
           padding: 0rem;
           /* width: 100%; */
           flex-direction: column;
        }
    .hero-image {
        margin: 1rem;
     }
     .hero-image img{
        width: 90%;
        padding: 1rem;
     }

     .hero-text{
        text-align: center;
        margin: 0rem;
        padding: 0rem;
        width: 90%;
    }
    .hero-text h1 {
        margin: 0rem;
        padding: 1rem;
        font-size: 2rem;
        width: 100%;
    }
    .hero-text h5 {
        margin: 0rem;
        padding: 1rem;
        font-size: 1rem;
        width: 100%;
    }
    .fund-button {
        margin: 1rem;
        padding:1rem;
        width: 100%;
    }
    #fund {
        margin-top: 2rem;
        padding: 1rem;
    }
    .progress-with-text{
        margin: 1rem 1rem;
        padding:0rem 1rem;
    }
    /* .progress {
        margin: 1rem 1rem;
        padding: 1rem;
    } */
    .progress p {
        margin: 1rem 1rem;
        /* padding: 1rem 1rem; */
    }
    .green-gray{
        width: 100%;
        padding: 0rem;
        margin: 0rem;
     }
    .next {
        margin: 0rem;
        padding: 0rem;
    }
    .next-one {
        margin: 0rem;
        padding: 0rem;
        display: flex;
        place-content: center;
    }
    .next-one h2 {
        margin: 0rem;
        padding: 0rem;
        font-size: 1rem;
    }
    #icon-one {
        margin: 0rem;
        padding: 0rem 1rem;
        font-size: 1rem;
    }
    .next-two {
        margin: 1rem;
        padding: 1rem;
        display: flex;
        place-content: center;
        float: none;
    }
    #icon-two {
        margin: 0rem;
        padding: 0rem;
        display: flex;
        place-content: center;
        font-size: 1.5rem;
    }
    #icon-three {
        margin: 0rem;
        padding: 0rem;
        display: flex;
        place-content: center;
        font-size: 1.5rem;
    }
    .story {
        margin: 0rem;;
        padding: 1rem;
        line-height: 1.5em;
    }
    .story p{
        margin: 0rem;;
        padding: 1rem;
    }
    footer {
        width: 90%;
        padding: 1rem;

    }
    .logo-two img{
        width: 100%;
    }
    .getfunds {
        width: 100%;
    }
    .getfunds h4 {
        width: 100%;
        margin: 1rem;
        padding: 1rem;
    }
    .fundraise-for {
        width: 100%;
}
}