@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,700;0,800;0,900;1,700;1,800&display=swap');


body{
    font-family: 'open sans';
    max-width: 100%;
}
*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}
header{
    background-color: white;
    width: 100%;
    padding: 2rem 4rem 1rem;
    color: #0A2640;  
}
.logonav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.5rem;
    margin: 1rem 2rem;
    width: 100%;
}
.logonav img{
    width: 300px;
    height: 40px;
}
nav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav ul li{
    list-style-type: none;
    margin: 1rem;
    font-weight: bolder;
}
nav ul li a{
    font-size: 1rem;
}
.menu{
    color: #0A2640;
    text-decoration: none;
}
.login{
    background-color: white;
    color: #0A2640;
    border: 0.2rem solid #0A2640 ;
    border-radius: 1.5rem;
    margin-top: 0rem;
    padding: 0.5rem 1.5rem ;
    font-weight: bolder;
}
a{
    text-decoration: none;
}
.writeyourstory{
border: 1px solid black;
border-radius: 1rem;
background-color: rgb(211, 211, 211);
padding: 1rem;
}
.storypreview{
    background-color: rgb(211, 211, 211);
    border: 1px solid grey;
    border-radius: 1rem;
    margin-top: 2rem;

}
.coverpic-label{
    margin: 1rem;
    padding: 1rem;
    font-weight: bolder;
    color: grey;
    cursor: pointer;
}
.coverpicture{
    display: none;
}
.title{
    width: 90%;
    border: none;
    font-size: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    color: grey;
    background-color: rgb(211, 211, 211);

}
.description{
    width: 90%;
    border: none;
    font-size: 1rem;
    margin: 1rem;
    padding: 1rem;
    color: grey;
    background-color: rgb(211, 211, 211);
}
hr{
    border: 1px solid black;
}
.tellyourstory{
    margin: 2rem;
    background-color: rgb(211, 211, 211);
    border: none;
    width: 80%;
    height: 70vh;
}
.post{
    display: flex;
    justify-content: space-around;
}
.post button{
    color: white;
    font-weight: bolder;
    background-color: #0A2640;
    padding: 1rem 2rem;
    border: none;
    margin: 1rem;
    border-radius: 1rem;
}

.post button a{
    color: white;
}


@media(max-width: 410px){
 
    *{
        max-width: 100%;
        margin: 0rem;
    }
}