@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,700;0,800;0,900;1,700;1,800&display=swap');


body{
    font-family: 'open sans';
    max-width: 100%;
}
*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}
header{
    background-color: white;
    width: 100%;
    padding: 2rem 4rem 1rem;
    color: #0A2640;  
}
.logonav{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin: 1rem 2rem;
}
.logonav img{
    width: 433px;
    height: 51px;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav ul li{
    list-style-type: none;
    margin: 1rem;
    font-weight: bolder;
}
nav ul li a{
    font-size: 1rem;
}
.menu{
    color: #0A2640;
    text-decoration: none;
}
.login{
    background-color: white;
    color: #0A2640;
    border: 0.2rem solid #0A2640 ;
    border-radius: 1.5rem;
    margin-top: 0rem;
    padding: 0.5rem 1.5rem ;
    font-weight: bolder;
}
a{
    text-decoration: none;
}
@keyframes animatetop{
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top: 40px;
        opacity: 1;
    }
}

.main-container{
background-color: white; 
display: none;
position: fixed;
animation-name: animatetop;
animation-duration: 0.5s;
left: 120px;
top: 30px;
padding: 0rem;
margin: 0rem;
width: 80%;
height: 600px;
overflow: hidden;
z-index: 1;
}
.close-modal{
    background-color: red;
    width: 50px;
    padding: 1rem;
    float: right;
    cursor: pointer;
    font-weight: bolder;
}
.p-one{
    color: gray;
    text-align: center;
}
.p-two{
    text-align: center;
    font-size: larger;
    line-height: 18px;
}
.box-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
}
.box{
    margin: 0px 2px 0px 2px;
    padding: 0px 5px;
}
.box-one img{
    margin: 1rem;
}
.box-two img{
    margin: 1rem;
}
.box-three img{
    margin: 1rem;
}

.fundraise{
    display: flex;
    place-content: center;
    margin:0rem 2rem 3rem;
}
.btnHome{
    background-color: white;
    color: #0A2640;
    font-weight: bolder;
    border: none;
    padding: 0.7rem 1.5rem;
    box-shadow: 0.2rem 0.1rem 0.2rem 0.2rem grey;
}
.donate{
    background-color: rgb(211, 211, 211);
    padding: 2rem;
    border-radius: 1rem;
}
.donate span h4,p{
    margin-left: 1rem;
    text-align: left;
}
.img-txt{
    display: flex;
    margin-top: 2rem;
}
.inpt{
    padding: 1rem 3rem;
    border: 1px solid black;
}
.text-donate{
    margin-bottom: 6rem;
}
.btn1{
    background-color: #0A2640;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 3rem;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
}
.donation-details{
    background-color: rgb(211, 211, 211);
    width: 50%;
    margin: 0rem 2rem 6rem;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 2rem;
    height: auto;
}
.donate-form{
    background-color: rgb(211, 211, 211); 
    margin:2rem 3rem  6rem;
    padding: 2rem;
    width: 50%;
    display: none;

}
.card-transfer{
    border: 1px solid black;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 1rem;
}
.bank-transfer{
    border: 1px solid black;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 1rem;
}
.input-form{
    width: 100%;
    padding: 1rem 3rem;
    border: 1px solid black;
    border-radius: 0.4rem;
    margin-top: 1rem;
}
.input-form1{
    width: 45%;
    padding: 1rem 3rem;
    border: 1px solid black;
    border-radius: 0.4rem;
}
.btn2{
    background-color: #0A2640;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 1rem;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
}


.footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 130px;
    text-align: left;
    /* margin: 0 120px; */
}

.footertext{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 58px;
    color: #777777;
    padding-top: 11.79px;
}
.maintext{
    font-family: 'Open Sans';
    font-size: 19px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    width: 353.8px;
}
.subtext{
    font-family: 'Open Sans';
    font-size: 19px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
}
.fr_maintxt,.re_maintxt{
    font-family: 'Open Sans';
    font-size: 31px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    padding-bottom: 40px;
}
.fr_subtxt,.re_subtxt{
    list-style-type: none;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    color: #777777;

}


@media (min-width: 300px) and (max-width: 599px){
    body{
        max-width: 95%;
    }
    header{
        padding: 1rem;
    }
    .logonav{
        flex-direction: column;
        width: 100%;
    }
    .logonav img{
        width: 90%;
        height:41px;
}
    .logonav h1{
        width: 90%;
    }
    nav ul{
        flex-direction: column;
    }
    .login{
        width: 70%;
        border: 0.2rem solid #0A2640 ;
        border-radius: 1.5rem;
        margin: 0rem;
        padding: 0.5rem 1rem ;
        font-weight: bolder; 
    }
    .main-container{
        background-color: white; 
        display: none;
        position: fixed;
        left: 30px;
        top: 50px;
        padding: 0rem;
        margin: 0rem;
        width: 80%;
        height: 500px;
        overflow: auto;
        z-index: 1;
        }
        .close-modal{
            z-index: 3;
            margin-bottom: 4rem;
        }
        .box{
            margin: 0px;
            padding: 0px ;
        }
        .box-one{
            width: 100%;
            padding: 1rem;
        }
        .box-one img{
            width: 100%;
        }
        .box-two{
            width: 100%;
            padding: 1rem;
        }
        .box-two img{
            width: 100%;
        }
        .box-three{
            width: 100%;
            padding: 1rem;
        }
        .box-three img{
            width: 100%;
        }

    .fundraise{
        padding: 0rem;
        margin:1rem;
        place-content: center;
        width: 90%;
    }
    .btnHome{
        padding: 1rem;
    }
    .donate{
        margin: 1rem;
    }
    .img-txt{
        flex-direction: column;
    }
    .text-donate{
        width: 80%;
        margin: 1rem;
    }
    .btn1{
        margin: 3rem;
        color: white;
        padding: 1rem 2rem;
       
    }
    .donate-form{
        margin:0rem;
        padding: 1rem;
        width: 100%;    
    }
    .donation-details{
        width: 100%;
        margin: 0rem;
        padding: 1rem;
    }
    .card-transfer{
        width: 100%;
        padding: 1rem;
        margin: 0rem;
    }
    .bank-transfer{
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
    }
    .input-form{
        width: 100%;
        padding: 1rem 3rem;
        margin-top: 1rem;
    }
    .input-form1{
        width: 100%;
        margin-top: 1rem;
    }
    .footer{
        margin-top: 3rem;
    }
    .footerlogo{width: 80%;
    margin: 0rem;}
    .fl{
        width: 100%;
    }
    .footertext, .maintext, .subtext{
        width: 100%;
    }
}


@media (min-width: 600px) and (max-width: 1000px){

    .logonav{
        flex-wrap: wrap;
    }

}