* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    color: #2D3748;
    font-family: Open Sans;
}

.body {
    display: flex;
    /* width: 1326px; */
}

.bg-image {
    height: 627px;
    width: 40%;
    background: #0A2640;
}

.img-container {
    width: 80%;
    background-image: url("forget password image/rectangle 1314.png");
    border-radius: 24px;
    position: relative;
    top: 40%;
    margin: 0 auto;
}

.img-1 {
    width: 100%;
    padding: 2% 10%;
}

.form {
    height: 627px;
    width: 60%;
    background-color: #ffffff;
}

form {
    width: 90%;
    position: relative;
    top: 10%;
    margin: 0 auto;
    text-align: center;
}

.img-2 {
    margin-bottom: 10px;
}

.alert {
    /* width: 40em; */
    display: flex;
    justify-content: center;
    text-align: left;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    margin: 0 auto;

}

.alert-1 {
    width: 20px;
    background: #65E4A3;
    flex: 0 1 1em;
}

.alert-main {
    width: 550px;
    background: #D9D9D9;
    flex: 0 35em;
}

#alert-p {
    font-family: 'Open Sans';
    font-size: 17px;
    line-height: 32px;
    padding: 5px 10px
}

label {
    font-family: 'Open Sans';
    font-size: 23px;
    line-height: 42px;
    margin-right: 200px;
}

input {
    width: 330px;
    height: 48px;
    border: 1.32143px solid #0A2640;
    border-radius: 6.60714px;
    margin-bottom: 35px;
    padding-left: 20px;
}

button {
    width: 270px;
    height: 48px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    background: #0A2640;
    border: none;
    border-radius: 5px;
}

@media (max-width: 375px) {
    .body {
        display: unset;
    }

    .bg-image {
        display: none;
    }

    .form {
        width: unset;
        height: unset;
    }

    form {
        width: unset;
        position: unset;
        padding-top: 50px;
    }

    .img-2 {
        width: 270px;
    }

    .alert {
        width: unset;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #alert-p {
        font-size: 13px;
    }

}